<h3> All User Data </h3>


<% @users.each do |user| %>
  <%= link_to user.name, autofiller_path(user.id, :format => :pdf)%>
  <br/>
<% end %>

<h3> All fields of form2.pdf </h3>

<pre>
  <%= @fields.inspect %>
  <% @field_values.each do |field| %>
    <%= field.inspect %>
  <% end %>
</pre>
